:root{
  --pur-color: #fdfdfd ;
}
.pur_color{
  color: var(--pur-color);
}
.pr_color{
  color: #652CB3;
}
.hello_world{
  color: red;
}

.main_con_title{
  font-size: 2rem;
  color: #652CB3;
  font-weight: 600;
}
.main_con_para{
  font-size: 1.2rem;

}




.ft_right_hd{
  color: rgb(255, 255, 255);
}

.gradient_background{
  background: linear-gradient(300deg, #652CB3, #ff4c68, rgb(238, 255, 0));
  background-size: 180% 180%;
  animation: gradient-animation 8s ease infinite;
}
@keyframes gradient-animation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }

  
}


.pr_img{
  width: 10rem;
  height: 10rem;
  border: 5px solid #652CB3;

}
@media (max-width:760px){
  .pr_img{
    width: 8rem;
    height: 8rem;
    border: 5px solid #652CB3;
  
  }
}
@media (max-width:385px){
  .pr_img{
    width: 6rem;
    height: 6rem;
    border: 5px solid #652CB3;
    margin-top: 1rem;
  
  }
}
.pr_badge{
  background: #652CB3;
  color: #fdfdfd;
  border: 2px solid black;
}
.pr_bg_color{
  background: #EFE9F7;
  border: 3px solid #652CB3;
  border-radius: 30px;
}
.pr_nav{
  border: 2px solid #652CB3;
  color: #652CB3;

}
.pr_nav ul li{
  font-size: 1.06rem;
  /* border: 1px solid #652CB3; */

}

.tabs{
  cursor: pointer;
  padding: .5rem .2rem;
  border-radius: 4px;
  margin: 0rem .1rem;
  border-left: 1px solid #652CB3;
  border-right: 1px solid #652CB3;
  /* border-bottom: 1px solid white; */
}
.active_tabs{
  color: #652CB3;
  background: #EFE9F7;
}
.content{
  display: none;
}
.active_content{
  display: block;
}



/* courses css srarted */
.mn_cr_con_row{
  border: 2px solid #652CB3;
}

.mn_cr_con_upscroll{
  width: 18rem;
  height: 22rem;
  border: 1px solid #652CB3;
  border-radius: 10%;
}


.Scrolling{
  width: 17.8rem;
  /* background:rgb(243, 90, 90); */
  /* border: 2px solid black; */
  /* border-radius: 10%; */
  height: 18.5rem;
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
  border: 1px solid grey;
}
::-webkit-scrollbar-thumb {
  background: #652CB3;
  border-radius: 10px;
}
.mn_cr_card{
  width: 85%;
  max-height: auto;
  background: #D742FA;
  border-radius: 10%;
  overflow: hidden;
}
.mn_cr_card:hover{
  background: #652CB3;
  transition: 0.4s;

  transform: scale(1.05);
}
.mn_cr_card_btn{
    color: white;
    background: #652CB3;
    padding: 0.3rem 1rem;
}
.mn_cr_card_title , .mn_cr_card_desc{
    color: white;
}
.mn_cr_card:hover> .mn_cr_card_btn{
  color: black;
  background: rgb(255, 254, 253);
  transition: 1s;
}
.mn_cr_img{
  width: 100%;
  height: 10rem;
}
.cr_see_btn{
  background: #D0BFE8;
  color:#652CB3;
  border: 2px solid #652CB3;
  
}